{% load static %}
{% block content %}
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          {% for item in carousel %}
              <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
              <img src="{{ item.image.url }}" style="position: relative" class="d-block w-100" alt="...">
                <div class="carousel-caption align-items-center" style="top:5%; bottom:5%; border-radius: 20px; padding: 0">
                    <div class="p-1 align-items-center" style="margin-top: auto; margin-bottom:auto;background: rgba(53,164,255,0.45);">
                        <h1 style="color: black; font-weight: bold">{{ item.title }}</h1>
                        <p style="color: black;" >{{ item.description }}</p>
                        <!--<button class="btn btn-success">Подробнее</button> -->
                    </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
{% endblock %}